<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <title>Document</title>
</head>
<body>
    <div class = "container">
        <div class ="header">
            <div class = "header-left">
                <span class ="control message">
                    <img src="picture/mess.png" alt="Messenger Icon">
                </span>
                <span class ="control newpost" >
                    <img src="picture/newpost.png" alt="newpost">
                </span>
            </div>
            <div class = "header-center">
                <h1>ALOVESTORY</h1>
            </div>
            <div class = "header-right">
                <span class ="control notification" >
                    <img src="picture/bell.png" alt="notification">
                </span>
                <span class ="control user">
                    <img src="picture/user1.jpg" alt="user">
                </span>
            </div>
        </div>
        <div class = "main">
            <div class ="post">
                
            </div>
        </div>
    </div>
</body>
</html>