<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="header-left">
                <span class="control message">
                    <img src="picture/mess.png" alt="Messenger Icon">
                </span>
                <span class="control newpost">
                    <img src="picture/newpost.png" alt="newpost">
                </span>
            </div>
            <div class="header-center">
                <h1>ALOVESTORY</h1>
            </div>
            <div class="header-right">
                <span class="control notification">
                    <img src="picture/bell.png" alt="notification">
                </span>
                <span class="control user">
                    <img src="picture/user1.jpg" alt="user">
                </span>
            </div>
        </div>
        <div class="main">
            <div class="post">
                <div class="post_header">
                    <span class="post control user">
                        <img src="picture/user1.jpg" alt="user">
                    </span>
                    <span class="post username">Nguyễn Tuấn Anh</span>
                    <span class="post date_create">20/07/2025</span>
                    <span class="post time_create">16:18</span>
                </div>
                <div class="post_body">
                    <div class="post caption">ngày hôm nay là một ngày thật tuyệt vời, tôi đã thi đấu bằng 200% sức lực của mình</div>
                </div>
                <div class="post media">
                    <img src="picture/testPicture.jpg" alt="media">
                </div>
                <div class="post_bottom">
                    <div class="post_reaction">
                        <span class="control like">
                            <img src="picture/nolike.png" alt="like">
                        </span>
                        <span class="control comment">
                            <img src="picture/comment.png" alt="like">
                        </span>
                        <span class="control edit">
                            <img src="picture/edit.png" alt="like">
                        </span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post_header">
                    <span class="post control user">
                        <img src="picture/user1.jpg" alt="user">
                    </span>
                    <span class="post username">Nguyễn Tuấn Anh</span>
                    <span class="post date_create">20/07/2025</span>
                    <span class="post time_create">16:18</span>
                </div>
                <div class="post_body">
                    <div class="post caption">ngày hôm nay là một ngày thật tuyệt vời, tôi đã thi đấu bằng 200% sức lực của mình</div>
                </div>
                <div class="post media">
                    <img src="picture/user1.jpg" alt="media">
                </div>
                <div class="post_bottom">
                    <div class="post_reaction">
                        <span class="control like">
                            <img src="picture/nolike.png" alt="like">
                        </span>
                        <span class="control comment">
                            <img src="picture/comment.png" alt="like">
                        </span>
                        <span class="control edit">
                            <img src="picture/edit.png" alt="like">
                        </span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post_header">
                    <span class="post control user">
                        <img src="picture/user1.jpg" alt="user">
                    </span>
                    <span class="post username">Nguyễn Tuấn Anh</span>
                    <span class="post date_create">20/07/2025</span>
                    <span class="post time_create">16:18</span>
                </div>
                <div class="post_body">
                    <div class="post caption">ngày hôm nay là một ngày thật tuyệt vời, tôi đã thi đấu bằng 200% sức lực của mình tôi có cảm giác như thế giới đang dần đổi thay vậy nhưng mà không sao tôi vẫn đứng đây yolooooooooooo</div>
                </div>
                <div class="post media">
                    <video controls muted>
                        <source src="videos/test.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
                <div class="post_bottom">
                    <div class="post_reaction">
                        <span class="control like">
                            <img src="picture/nolike.png" alt="like">
                        </span>
                        <span class="control comment">
                            <img src="picture/comment.png" alt="like">
                        </span>
                        <span class="control edit">
                            <img src="picture/edit.png" alt="like">
                        </span>
                    </div>
                </div>
            </div>
            <div class="post">
                <div class="post_header">
                    <span class="post control user">
                        <img src="picture/user1.jpg" alt="user">
                    </span>
                    <span class="post username">Nguyễn Tuấn Anh</span>
                    <span class="post date_create">20/07/2025</span>
                    <span class="post time_create">16:18</span>
                </div>
                <div class="post_body">
                    <div class="post caption">ngày hôm nay là một ngày thật tuyệt vời, tôi đã thi đấu bằng 200% sức lực của mình</div>
                </div>
                <div class="post media">
                    <img src="picture/background-home.jpg" alt="media">
                </div>
                <div class="post_bottom">
                    <div class="post_reaction">
                        <span class="control like">
                            <img src="picture/nolike.png" alt="like">
                        </span>
                        <span class="control comment">
                            <img src="picture/comment.png" alt="like">
                        </span>
                        <span class="control edit">
                            <img src="picture/edit.png" alt="like">
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>